@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  
  :root {
    --background: 220 13% 10%;
    --foreground: 210 20% 98%;

    --card: 220 13% 15%;
    --card-foreground: 210 20% 98%;

    --popover: 220 13% 10%;
    --popover-foreground: 210 20% 98%;

    --primary: 0 72% 51%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 28% 22%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 28% 22%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 215 28% 22%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 63% 51%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 28% 22%;
    --input: 215 28% 22%;
    --ring: 0 72% 51%;
    
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}
